# Import MySQL connector

In [3]:
import mysql.connector as con

# connection to database

In [6]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021C6965DC40>

# creating Data Base

In [19]:
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
)
my_cursor =new_db.cursor()
my_cursor.execute("CREATE DATABASE colleg1")

# check if  database exists

In [23]:
new_db =con.connect(
    host ="localhost",
    user ="root",
    password ="root",
)
my_cursor =new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

('colleg1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating Tables and showing data

In [37]:
new_db =con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "colleg1",
)
my_cursor =new_db.cursor()
my_cursor.execute("CREATE TABLE marks (s2 varchar(200),s1 varchar(10))")

# List all TABLES in new database

In [38]:
new_db =con.connect(
    host ="localhost",
    user ="root",
    password ="root",
    database ="colleg1",
)
my_cursor =new_db.cursor()
my_cursor.execute("SHOW TABLES")
for n in my_cursor:
    print(n)

('marks',)
('student',)

# inserting data into tables

In [48]:
new_db =con.connect(
    host ="localhost",
    user ="root",
    password ="root",
    database ="colleg1",
)
my_cursor =new_db.cursor()
query = "INSERT INTO student (name,regno) VALUES (%s,%s)"
VALUES =("krishna","393cs20009")
my_cursor.execute(query,VALUES)
new_db.commit()
print(my_cursor.rowcount, "new record inserted")

1 new record inserted

# inserting multiple records into tables

In [60]:
new_db =con.connect(
    host ="localhost",
    user ="root",
    password ="root",
    database ="colleg1",
)
my_cursor =new_db.cursor()
query = "INSERT INTO student (name,regno) VALUES (%s,%s)"
VALUES =[("krishna", "393cs2009"),
         ("harshed", "393cs20006"),
         ("rahul", "393cs20004"),
         ("akash", "393cs20002")
        ]
my_cursor.executemany(query,VALUES)
new_db.commit()
print(my_cursor.rowcount, "new record inserted")

4 new record inserted

# desplay records from the tables

In [65]:
my_cursor =new_db.cursor()
query = "SELECT * FROM student"
my_cursor.execute(query)
for i in my_cursor:
    print(i)

('krishna', '393cs20009')
('krishna', '393cs20009')
('krishna', '393cs20009')
('krishna', '393cs2009')
('harshed', '393cs20006')
('rahul', '393cs20004')
('akash', '393cs20002')

# display particular record from database

In [3]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database ="colleg1"
)
my_cursor =new_db.cursor()
query = "SELECT name FROM student"
my_cursor.execute(query)
for i in my_cursor:
    print(i)

('krishna',)
('krishna',)
('krishna',)
('krishna',)
('harshed',)
('rahul',)
('akash',)